@media (max-width:1145px) {
    body {
        overflow: auto;
    }
    .cards {
        display: flex;
        justify-content: center;
    }
    .supervisor {
        margin-top: 0;
    }

    .calculator {
        position: absolute;
        margin-top: 17.5em;
        margin-right: 26em;
    }

    .karma {
        margin-bottom: 1em;
    }

    .attribution {
        margin-top: 5em;
    }
}

@media (max-width:775px) {
    .tittle h1 h2 {
        font-size: 22px;
    }
    .tittle p {
        font-size: 16px;
        max-width: 330px;
    }

    .cards {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .supervisor {
        margin-right: 0;
        width: 270px;
        height: 185px;
    }

    .supervisor img {
        margin-left: 14em;
    }

    .builder-karma {
        margin-top: 1em;
    }

    .builder {
        margin-right: 0;
        width: 270px;
        height: 185px;
    }

    .builder img {
        margin-left: 14em;
    }

    .karma {
        margin-right: 0;
        width: 270px;
        height: 185px;
    }

    .karma img {
        margin-left: 14em;
    }

    .calculator {
        position: absolute;
        margin-top: 69em;
        margin-right: 1em;
        width: 270px;
        height: 185px;
    }

    .calculator p {
        max-height: 56px;
    }

    .calculator img {
        margin-left: 14em;
    }

    .attribution {
        white-space: nowrap;
        margin-top: 30em;
    }
}